.postModeloContainer {
    color: var(--cor-fonte-post);
    position: relative;
}

.fotoCapa,
.titulo {
    height: 204px;
}

.fotoCapa {
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.titulo {
    align-items: center;
    display: flex;
    font-family: var(--fonte-secundaria);
    font-size: 4rem;
    padding: 0 7.5rem;
}

.postConteudoContainer {
    padding: 2.5rem 7.5rem 4.5rem;
}

@media (max-width: 744px) {
    .postConteudoContainer {
        padding: 2rem 1.5rem 1.5rem;
    }
}

@media (max-width: 744px) {

    .fotoCapa,
    .titulo {
        height: 104px;
    }

    .titulo {
        font-size: 2rem;
        padding: 0 1rem;
    }

    .postConteudoContainer {
        padding: 2rem 1rem 1.5rem;
    }
}